<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/style">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
 <html>
    <body>
        <center>
            <h1>Eltex Meteo Station</h1>
            <img width="100" src="https://eltex-co.ru/local/assets/img/logo.png" /><br><br>
            <img width="150" src="https://eltex-co.ru/upload/medialibrary/07f/eltex.jpg" />            
            <h2>Temperature: <font color="66FFFF"><b id="temp"></b>°</font></h2>
            <h2>Humidity: <font color="66FFFF"><b id="hum"></b>%</font></h2>
            <h2>Pressure: <font color="66FFFF"><b id="pres"></b>mm</font></h2>
            <h2>Gasses: <font color="#66FFFF"><b id="gas"></b>ppm</font></h2>
            <a><font size="1" color="#0099FF">Denisov Foundation Ltd. © 2018</font></a>
        </center>
    </body>
</html>